/* You can add global styles to this file, and also import other style files */
/*color variables*/
@import "assets/css/color.css";
@import "assets/css/modal.css";
@import "assets/css/notification.css";
@import "assets/css/card.css";
.dz-input {
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    border-color: var(--white);
	height: 40px;
    vertical-align: middle;
    display: inline-block;
	max-width: 100%;
    width: 100%;
    padding: 0 10px;
    background: var(--white);
    color: var(--light-grey);
    border: 1px solid var(--input-border-color);
    transition-property: color,background-color,border;

}
.dz-input:focus {
    border-color: var(--white);
    outline: none;
}
.dz-flex {
    display: flex;
}
.dz-block {
    display: block;
}
.dz-float-left {
    float: left;
}
.dz-float-right {
    float: right;
}

.dz-align-center {
    display: flex;
    align-items: center;
}

.dz-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dz-position-relative {
    position: relative;
}

.dz-position-absolute {
    position: absolute;
}

.w-100 {
    width: 100%;
}

.dz-padding-small-horizontal {
    padding: 0 8px;
}

.dz-padding-medium-horizontal {
    padding: 0 16px;
}

.dz-padding-small-ends {
    padding: 8px 0;
}
.dz-padding-medium-ends {
    padding: 16px 0;
}

/*High priority task*/
.priority {
    padding: 1px 8px;
    transform: rotate(45deg);
    border-radius: 4px;
}
.priority.high-priority {
    background:var(--red);
}
.priority.high-priority>i {
    transform: rotate(-45deg);
    color: white;
}
.priority.medium-priority {
    background:var(--blue);
    padding: 1px 9px;
}
.priority.medium-priority>i {
    transform: rotate(45deg);
    color: white;
}

.priority.low-priority {
    background:var(--green);
    padding: 2px 5px;
    font-size: 12px;
}
.priority.low-priority>i {
    transform: rotate(-45deg);
    color: white;
}

/*textarea style*/
.dz-textarea {
    border: 2px solid var(--input-border-color);
    padding: 4px;
    border-radius: 4px;
    min-width: 245px;
    max-width: 245px;
}

.dz-spinner-overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Turn off scrollbar when body element has the loading class */
.dz-spinner.loading {
    overflow: hidden;
}

/* Make spinner image visible when body element has the loading class */
.dz-spinner.loading .dz-spinner-overlay {
    display: flex;
}
.dz-spinner.loading .dz-spinner-overlay img {
    height: 60px;
    display: block;
    animation: rotate 1.4s linear infinite;
    -webkit-animation: rotate 1.4s linear infinite;
    -moz-animation: rotate 1.4s linear infinite;
    position: relative;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}